<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Samuel Smith">

  {% include 'base/css.html' %}
  
  
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}">
    

  <title>{% block head_title %}mvp-needapc{% endblock head_title %}</title>
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    

    {% block content %}
    {% endblock content %}

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Landing page for needapc</a>, by <a
            href="https://twitter.com/@Smithssam" target="_blank">@smithssam</a>. <br> Please note we get a small kickback whenever you purchase using our links.</p>
      </div>
    </footer>
  </div>
  {% include 'base/js.html' %}
</body>
</html>