{% extends "base.html" %}



{% block content %}
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">needapc-mvp</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Landing</a>
        <a class="nav-link active" href="signup/">Sign Up</a>
        <!-- <a class="nav-link" href="#">Contact</a> -->
      </nav>
    </div>
</header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Sign up for when we go live!</h1>
        <p class="lead">Please enter your email below
            and we'll let you know <br>when we're ready!</p>
        {% if added %}
            <div class='alert alert-success'>Thank you for joining, we'll be in touch!</div>
        {% endif %}
        {% include "form.html" %}
    </main>

{% endblock %}

<!-- <div class="container">
    <div class="col-md-6 mx-auto">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                class="img-fluid"/>
        <h1>needapc landing.</h1>
        <p>Welcome to needapc sign up, enter your email
             and we'll let you know when we're ready!</p>
        {% if added %}
            <div class='alert alert-success'>Thank you for joining, we'll be in touch!</div>
        {% endif %}
        {% include "form.html" %}
    </div>
</div> -->